{% extends 'base.html.twig' %}

{% block title %}New Relacionpersona{% endblock %}

{% block body %}
    <h1>Create new Relacionpersona</h1>

    {{ include('relacionpersona/_form.html.twig') }}

    <a href="{{ path('app_relacionpersona_index') }}">back to list</a>
{% endblock %}
