<form method="post" action="{{ path('app_tiporelacion_delete', {'id': tiporelacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tiporelacion.id) }}">
    <button class="btn">Delete</button>
</form>
