{% extends 'base.html.twig' %}

{% block title %}Relacioncolectivo index{% endblock %}

{% block body %}
    <h1>Relacioncolectivo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Relación</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relacioncolectivo in relacioncolectivos %}
            <tr>
                <td>{{ relacioncolectivo }}</td>
                <td>
                    <a href="{{ path('app_relacioncolectivo_show', {'id': relacioncolectivo.id}) }}">show</a>
                    <a href="{{ path('app_relacioncolectivo_edit', {'id': relacioncolectivo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_relacioncolectivo_new') }}">Create new</a>
{% endblock %}
